---
layout: archive
---

<style type="text/css">
.greedy-nav .visible-links {font-size:0.8em ;}  
.greedy-nav a.site-title { margin-left: 0; color:#646769;}
.greedy-nav a.site-logo { margin-left: 0; margin-right: 1rem; }
.site-logo img { max-height: 2.5rem; }   /* logo size*/
.site-subtitle { display: block; font-size: 0.8em; color: #6f777d}

.author__avatar { display: table-cell; vertical-align: top; width: auto; height: auto; }

@media (min-width: 64em) { .author__avatar { display: block; width: auto; height: auto; } }
.author__avatar img { max-width: 210px; border-radius: 50%; }

@media (min-width: 64em) { .author__avatar img { padding: 0px; border: 1px solid #6f777d; } }

@media (min-width: 64em) { .sidebar { float: left; width: calc(200px - 1em); opacity: 1; -webkit-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
.sidebar:hover { opacity: 1; }

.page__hero-caption { position: absolute; bottom: 0; right: 0; margin: 0 auto; padding: 2px 5px; color: #fff; font-family: Georgia, Times, serif; font-size: 0.4em; background: transparent; text-align: right; z-index: 5; opacity: 0.5; border-radius: 4px 0 0 0; }
@media (min-width: 64em) { .page__hero-caption { padding: 1px 2px; } }
.page__hero-caption a { color: #fff; text-decoration: none; }

</style>


{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% comment %}
{% include paginator.html %}
{% endcomment %}